.text {
  font-size: 7;
  font-family: System-Regular;
  font-weight: regular;
  height: 10;
}

#message{
  text-length: 100;
  text-anchor: middle;
  fill: white;
  display-align: center;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
